@font-face {
    font-family: "Gistesy";
    src: url('../assets/font/Gistesy.ttf');
}
@font-face {
    font-family: "OpenSans";
    src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "RoxboroughCF-Thin";
    src: url('../assets/font/RoxboroughCF-Thin.otf');
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url('../assets/font/ArchivoBlack-Regular.ttf');
}
@font-face {
    font-family: "NotoSerif-Regular";
    src: url('../assets/font/NotoSerif-Regular.ttf');
}


body{
    background-image: url(../assets/image/dashboard.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-light {
    background-color: transparent!important;
}

.navbar-brand {
    font-family: 'Gistesy';
    font-size: 35px;
    font-weight: 600;
}

.nav-link {
    font-size: 25px;
    font-family: 'OpenSans';
    font-weight: 700;
    color: black;
}

.gambarDashboard .kelompok{
    font-family: 'ArchivoBlack-Regular';
    margin-top: -206px;
    font-size: 35px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
}

.gambarDashboard .kalimat{
    font-family: 'NotoSerif-Regular';
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
}

@media screen and (max-width: 780px){
    .gambarDashboard img{
        width: 100%;
        height: auto
    }
    .gambarDashboard .kelompok{
        margin-top: -265px;
        font-size: 24px;
    }
    .gambarDashboard .kalimat{
        font-size: 18px;
    }
    .navbar-brand {
        font-size: 30px;
    }
    .nav-link {
        font-size: 18px;
    }
}