@font-face {
    font-family: "Gistesy";
    src: url('../assets/font/Gistesy.ttf');
}
@font-face {
    font-family: "OpenSans";
    src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "RoxboroughCF-Thin";
    src: url('../assets/font/RoxboroughCF-Thin.otf');
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url('../assets/font/ArchivoBlack-Regular.ttf');
}
@font-face {
    font-family: "NotoSerif-Regular";
    src: url('../assets/font/NotoSerif-Regular.ttf');
}


body{
    background-image: url(../assets/image/pilih-user.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-light {
    background-color: transparent!important;
}

.navbar-brand {
    font-family: 'Gistesy';
    font-size: 35px;
    font-weight: 600;
}

.nav-link {
    font-size: 25px;
    font-family: 'OpenSans';
    font-weight: 700;
    color: black;
}

.form_login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 660px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.form_login h1{
    text-align: center;
    margin-bottom: 10px;
/*    font-family: 'Poppins';*/
}

.form_login p {
    font-size: 12px;
    margin-bottom: 32px;
    text-align: center;
}

.form-label {
    padding-left: 60px;
    font-style: normal;
    line-height: 16px;
    font-size: 13px;
}

.btn-primary {
    --bs-btn-color: black;
    --bs-btn-bg: #83B4E1;
    --bs-btn-border-color: #83B4E1;
    font-weight: 600;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-control {
    width: 80%;
}

.sign-up a{
    text-decoration: none;
    color: black;
}

.navbar-toggler {
    visibility: hidden;
}

@media screen and (max-width: 780px){
    .navbar-brand {
        font-size: 30px;
    }
    .nav-link {
        font-size: 18px;
    }
    .form_login{
        width: 90%;
    }
    .form-control {
        width: 100%;
    }
    .form-label {
        padding-left: 0px;
    }
}