@font-face {
    font-family: "Gistesy";
    src: url('../assets/font/Gistesy.ttf');
}
@font-face {
    font-family: "OpenSans";
    src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "RoxboroughCF-Thin";
    src: url('../assets/font/RoxboroughCF-Thin.otf');
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url('../assets/font/ArchivoBlack-Regular.ttf');
}
@font-face {
    font-family: "NotoSerif-Regular";
    src: url('../assets/font/NotoSerif-Regular.ttf');
}


body{
    background-image: url(../assets/image/pilih-user.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-light {
    background-color: transparent!important;
}

.navbar-brand {
    font-family: 'Gistesy';
    font-size: 35px;
    font-weight: 600;
}

.nav-link {
    font-size: 25px;
    font-family: 'OpenSans';
    font-weight: 700;
    color: black;
}

.navbar-toggler {
    visibility: hidden;
}

.mb-4 {
    margin-top: 103px;
}

.icon a{
    text-decoration: none;
}

.admin img{
    width: auto;
    height: 200px;
}

.admin p{
    font-size: 29px;
    font-family: 'RoxboroughCF-Thin';
    font-weight: 600;
    color: black;
    width: 161px;
    background-color: #F2F2F2;
    opacity: 70%;
    border-radius: 5px;
}

.user p{
    font-size: 29px;
    font-family: 'RoxboroughCF-Thin';
    font-weight: 600;
    color: black;
    width: 161px;
    background-color: #F2F2F2;
    opacity: 70%;
    border-radius: 5px;
}

.user img{
    width: auto;
    height: 200px;
}

@media screen and (max-width: 780px){
    .navbar-brand {
        font-size: 30px;
    }
    .nav-link {
        font-size: 18px;
    }
    .mb-4 {
        margin-top: 28px;
    }
    .admin img {
        margin-top: 65px;
        height: 135px;
    }
    .user img {
        height: 135px;
    }
    .admin p {
        font-size: 20px;
        width: 99px;
    }
    .user p {
        font-size: 20px;
        width: 99px;
    }
}