@font-face {
    font-family: "Gistesy";
    src: url('../assets/font/Gistesy.ttf');
}
@font-face {
    font-family: "OpenSans";
    src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "RoxboroughCF-Thin";
    src: url('../assets/font/RoxboroughCF-Thin.otf');
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url('../assets/font/ArchivoBlack-Regular.ttf');
}
@font-face {
    font-family: "NotoSerif-Regular";
    src: url('../assets/font/NotoSerif-Regular.ttf');
}

@font-face {
    font-family: "TTDrugs-Regular";
    src: url('../assets/font/TTDrugs-Regular.ttf');
}


body{
    background-color: #83B4E1;    
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.logo img {
  width: 160px;
  margin-left: 42px;
  border-radius: 50%;
}

.logo-hp img {
  width: 140px;
  margin-top: -36px;
  border-radius: 50%;
}

.sidebar-lp {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #005992;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-top: -56px;
}

/* Sidebar links */
.sidebar-lp a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  padding-left: 27px;
  font-family: 'TTDrugs-Regular';
  border-left: 14px solid transparent;
}

.sidebar-hp a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  padding-left: 25px;
  font-family: 'TTDrugs-Regular';
  border-left: 14px solid transparent;
  margin-left: -15px;
  margin-right: -19px;
}

/* Active/current link */
.sidebar-lp a.active {
  background-color: #0874B1;
  color: white;
  border-left: 14px solid #906236;
  padding-left: 27px;
}

.sidebar-hp a.active {
  background-color: #0874B1;
  color: white;
  border-left: 14px solid #906236;
  padding-left: 24px;
  margin-left: -15px;
  margin-right: -16px;
}

/* Links on mouse-over */
.sidebar-lp a:hover:not(.active) {
  background-color: #0874B1;
  color: white;
  border-left: 14px solid #906236;
}

.sidebar-hp a:hover:not(.active) {
  background-color: #0874B1;
  color: white;
  border-left: 14px solid #906236;
}

.sub-menu-lp a {
  padding-left: 43px;
}

.sub-menu-lp a.active {
  margin-left: 0px;
  padding-left: 43px;
}

.sub-menu-hp a {
  padding-left: 43px;
}

div.content {
  margin-left: 250px;
  padding: 1px 26px;
}

.sidebar-hp button{
    visibility: hidden;
}

.bg-light {
    margin-left: 251px;
    padding-right: 26px;
    background-color: #B0CFEC!important;
}

.btn-close {
    background: transparent url(../assets/icon/icon-close.png) center/1em auto no-repeat;
}

img.lonceng {
    width: 20px;
    height: auto;
}

.navbar {
    --bs-navbar-nav-link-padding-x: 16px;
}

.btn-secondary {
    --bs-btn-color: #B5A392;
    --bs-btn-bg: transparent; 
    --bs-btn-border-color: transparent; 
    --bs-btn-hover-color: #B5A392;
    --bs-btn-hover-bg: transparent; 
    --bs-btn-hover-border-color: transparent; 
    --bs-btn-focus-shadow-rgb: none; 
    --bs-btn-active-bg: transparent;
    -bs-btn-active-bg: transparent; 
    --bs-btn-active-border-color: transparent; 
    --bs-btn-active-shadow: none; 
    --bs-btn-disabled-color: #B5A392;
    --bs-btn-active-color: #B5A392;
    font-family: 'TTDrugs-Regular';
    font-weight: 600;
}

.dropdown-toggle::after {
    display: none;
}

.btn img {
    width: 13px;
    height: auto;
}

img.profil {
    width: 20px;
    height: 20px;
}

.menu{
    position: absolute;
    left: 55%;
    top: 60%;
    transform: translate(-38%,-50%);
    padding: 14px 4px;
}

.menu li {
    margin-bottom: 20px;
    background-color: white;
    list-style: none;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    font-family: 'TTDrugs-Regular';
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.judul p{
    font-family: 'TTDrugs-Regular';
    font-size: 20px;
    font-weight: 600;
}

.detail {
    text-align: -webkit-center;
    font-family: 'TTDrugs-Regular';
}

td.titikdua {
    text-align: end;
}

.table-warning {
    --bs-table-bg: #005992;
    --bs-table-color: white;
}

td.text-center {
    vertical-align: middle;
}

@media screen and (max-width: 780px) {
    .sidebar-hp button {
        visibility: visible;
        margin-top: -93px;
        position: relative;
    }
    .sidebar-lp {
        visibility: hidden;
    }
    .bg-light {
       margin-left: 0px; 
       padding-right: 0px; 
   }
   div.content {
    margin-left: 0px;
}
.hp {
    background-color: transparent;
    border-color: transparent;
    -bs-btn-active-color: transparent;
    --bs-btn-active-bg: transparent; 
    --bs-btn-active-border-color: transparent; 
    --bs-btn-active-shadow: transparent;
    --bs-btn-hover-color: transparent; 
    --bs-btn-hover-bg: transparent; 
    --bs-btn-hover-border-color: transparent; 
    --bs-btn-focus-shadow-rgb: transparent;
    --bs-btn-active-color: transparent; 
    --bs-btn-active-bg: transparent; 
    --bs-btn-active-border-color: transparent;
    --bs-btn-bg: transparent; 
    --bs-btn-border-color: transparent; 
    --bs-btn-hover-color: transparent; 
    --bs-btn-hover-bg: transparent; 
    --bs-btn-hover-border-color: transparent;
}
.offcanvas {
    background-color: #005992;
}
.offcanvas.offcanvas-start {
    width: 250px;
    border-right: none;
}
.offcanvas-header {
    justify-content: end;
    background-color: #005992;
}
.offcanvas-body {
    background-color: #005992;
}
.navbar {
    --bs-navbar-nav-link-padding-x: 0.5rem;
}
.judul p{
    font-size: 14px;
}
.menu {
    position: absolute;
    left: 16%;
    top: 50%;
    transform: translate(-14%,-50%);
    width: -webkit-fill-available;
}
.menu li {
    font-size: 12px;
}
.text-end {
    text-align: center!important;
}
}

@media screen and (max-width: 991px) {
    .sidebar-lp {
        margin-top: -65px;
    }
}