@font-face {
    font-family: "Gistesy";
    src: url('../assets/font/Gistesy.ttf');
}
@font-face {
    font-family: "OpenSans";
    src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "RoxboroughCF-Thin";
    src: url('../assets/font/RoxboroughCF-Thin.otf');
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url('../assets/font/ArchivoBlack-Regular.ttf');
}
@font-face {
    font-family: "NotoSerif-Regular";
    src: url('../assets/font/NotoSerif-Regular.ttf');
}

@font-face {
    font-family: "TTDrugs-Regular";
    src: url('../assets/font/TTDrugs-Regular.ttf');
}


body{ 
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

div.content {
  padding: 1px 26px;
}

.judul p{
    font-family: 'TTDrugs-Regular';
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.judul1 p{
    font-family: 'TTDrugs-Regular';
    font-size: 20px;
    font-weight: 600;
    margin-top: 450px;
}

.detail {
    text-align: -webkit-center;
    font-family: 'TTDrugs-Regular';
}

td.titikdua {
    text-align: end;
}

.table-warning {
    --bs-table-bg: #005992;
    --bs-table-color: white;
}

.back img{
    width: 32px;
    height: auto;
    margin-top: 3px;
    margin-left: -6px;
}

.next img{
    width: 32px;
    height: auto;
    margin-top: 3px;
    margin-left: -2px;
}

.back{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.next{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.pemanfaatan{
    width: 60%;
    height: auto;
/*    border: 1px solid black;*/
margin-right: 5%;
}

.industri{
    width: 40%;
    height: auto;
/*    border: 1px solid black;*/
}

.subjudul {
    font-size: 13px;
    font-weight: bold;
}

.subjudul1 {
    font-size: 13px;
    font-weight: 500;
}

.subjudul2 {
    font-size: 13px;
    font-weight: 500;
    color: #83B4E1;
}

.table-bordered>:not(caption)>*>* {
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    border-width: 0 1px;
}

.tabel1 {
    margin-top: 76px;
}

th.align-middle.text-center {
    font-size: 4px;
}

@media screen and (max-width: 780px) {
    .sidebar-hp button {
        visibility: visible;
        margin-top: -93px;
        position: relative;
    }
    .sidebar-lp {
        visibility: hidden;
    }
    .bg-light {
       margin-left: 0px; 
       padding-right: 0px; 
   }
   div.content {
    margin-left: 0px;
}
.hp {
    background-color: transparent;
    border-color: transparent;
    -bs-btn-active-color: transparent;
    --bs-btn-active-bg: transparent; 
    --bs-btn-active-border-color: transparent; 
    --bs-btn-active-shadow: transparent;
    --bs-btn-hover-color: transparent; 
    --bs-btn-hover-bg: transparent; 
    --bs-btn-hover-border-color: transparent; 
    --bs-btn-focus-shadow-rgb: transparent;
    --bs-btn-active-color: transparent; 
    --bs-btn-active-bg: transparent; 
    --bs-btn-active-border-color: transparent;
    --bs-btn-bg: transparent; 
    --bs-btn-border-color: transparent; 
    --bs-btn-hover-color: transparent; 
    --bs-btn-hover-bg: transparent; 
    --bs-btn-hover-border-color: transparent;
}
.offcanvas {
    background-color: #005992;
}
.offcanvas.offcanvas-start {
    width: 250px;
    border-right: none;
}
.offcanvas-header {
    justify-content: end;
    background-color: #005992;
}
.offcanvas-body {
    background-color: #005992;
}
.navbar {
    --bs-navbar-nav-link-padding-x: 0.5rem;
}
.judul p{
    font-size: 14px;
}
.menu {
    position: absolute;
    left: 16%;
    top: 50%;
    transform: translate(-14%,-50%);
    width: -webkit-fill-available;
}
.menu li {
    font-size: 12px;
}
.text-end {
    text-align: center!important;
}
}

@media screen and (max-width: 991px) {
    .sidebar-lp {
        margin-top: -65px;
    }
}