@font-face {
    font-family: "Gistesy";
    src: url('../assets/font/Gistesy.ttf');
}
@font-face {
    font-family: "OpenSans";
    src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "RoxboroughCF-Thin";
    src: url('../assets/font/RoxboroughCF-Thin.otf');
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url('../assets/font/ArchivoBlack-Regular.ttf');
}
@font-face {
    font-family: "NotoSerif-Regular";
    src: url('../assets/font/NotoSerif-Regular.ttf');
}


body{
    background-image: url(../assets/image/pilih-user.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 136px !important;
}

.bg-light {
    background-color: transparent!important;
}

.navbar-brand {
    font-family: 'Gistesy';
    font-size: 35px;
    font-weight: 600;
}

.nav-link {
    font-size: 25px;
    font-family: 'OpenSans';
    font-weight: 700;
    color: black;
}

.form_login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 414px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 87px;
}

.form_login h2{
    text-align: center;
    margin-bottom: 10px;
/*    font-family: 'Poppins';*/
}

.punya-akun a{
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 32px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}

/*.container a{
    font-size: 12px;
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
}*/

.form-label {
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    font-size: 13px;
}

.btn-primary {
    --bs-btn-color: black;
    --bs-btn-bg: #83B4E1;
    --bs-btn-border-color: #83B4E1;
    font-weight: 600;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-toggler {
    visibility: hidden;
}

.spacer{
    margin-bottom: 40px;
}

@media screen and (max-width: 780px){
    .navbar-brand {
        font-size: 30px;
    }
    .nav-link {
        font-size: 18px;
    }
    .form_login{
        width: max-content;
        margin-top: 0;
    }
    body{
        margin-bottom: 0!important;
    }
}