@font-face {
    font-family: "Gistesy";
    src: url('../assets/font/Gistesy.ttf');
}
@font-face {
    font-family: "OpenSans";
    src: url('../assets/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "RoxboroughCF-Thin";
    src: url('../assets/font/RoxboroughCF-Thin.otf');
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url('../assets/font/ArchivoBlack-Regular.ttf');
}
@font-face {
    font-family: "NotoSerif-Regular";
    src: url('../assets/font/NotoSerif-Regular.ttf');
}

@font-face {
    font-family: "TTDrugs-Regular";
    src: url('../assets/font/TTDrugs-Regular.ttf');
}


body{
/*    background-color: #83B4E1;    */
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

div.content {
  padding: 1px 26px;
}

.bg-light {
    margin-left: 251px;
    padding-right: 26px;
    background-color: #B0CFEC!important;
}

.judul p{
    font-family: 'ArchivoBlack-Regular';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 43px;
    margin-top: 40px;
}

.flex-sm-row {
    justify-content: space-between;
    font-size: 12px;
}

.table-warning {
    --bs-table-bg: #005992;
    --bs-table-color: white;
}

.table-bordered>:not(caption)>*>* {
    vertical-align: middle;
    text-align: center;
    font-size: 6px;
}

.isi p {
    line-height: 19px;
}

@media screen and (max-width: 780px) {
   div.content {
        margin-left: 0px;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-lp {
        margin-top: -65px;
    }
}